<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sss (copy)</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/-Fixed-Navbar-start-with-transparency-background-BS4-.css">
    <link rel="stylesheet" href="assets/css/Button-Change-Text-on-Hover.css">
    <link rel="stylesheet" href="assets/css/Button-Ripple-Effect-Animation-Wave-Pulse.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Footer-with-social-media-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/sticky-dark-top-nav-with-dropdown.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div>
        <header>
            <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white transparency border-bottom border-light" id="transmenu">
                <div class="container"><a class="navbar-brand text-success" href="#header"><i class="fa fa-leaf fa-2x"></i>&nbsp;KAILIAN</a><button data-bs-toggle="collapse" class="navbar-toggler collapsed" data-bs-target="#navcol-2"><span></span><span></span><span></span></button>
                    <div class="collapse navbar-collapse" id="navcol-2">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('ai.index') }}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('ai.leaderboards') }}">Leaderboard</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('ai.aboutus') }}">About us</a></li>
                            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">logout</a>
                                <div class="dropdown-menu"><a class="dropdown-item" href="{{ url_for('ai.logout') }}">LOGOUT</a><a class="dropdown-item" href="#">s</a><a class="dropdown-item" href="#">s</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="bg-success d-flex align-items-center" style="height: 100vh;background: radial-gradient(rgb(8,78,71) 0%, rgb(5,47,43) 100%), rgb(46,47,46);">
                <div class="container col-xxl-8 px-4 py-5" style="width: 90%;">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" style="color: var(--bs-white);width: 100%;">
                        <div class="col-10 col-sm-8 col-lg-6" style="font-family: 'Titillium Web', sans-serif;">
                            <p style="text-align: center;font-style: italic;font-weight: bold;">Select the correct translation</p>
                            <div class="m-5">
                                <div class="text-center m-3"><button class="btn btn-primary btn-lg border rounded shadow ripple-effect" data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" type="button" style="width: 300px;font-weight: bold;">loading...</button></div>
                                <div class="text-center m-3"><button class="btn btn-success btn-lg border rounded shadow ripple-effect" data-aos="fade-right" data-aos-duration="500" data-aos-delay="400" type="button" style="width: 300px;font-weight: bold;">loading...</button></div>
                                <div class="text-center m-3"><button class="btn btn-warning btn-lg border rounded shadow ripple-effect" data-aos="fade-left" data-aos-duration="500" data-aos-delay="600" type="button" style="width: 300px;font-weight: bold;">loading...</button></div>
                                <div class="text-center m-3"><button class="btn btn-danger btn-lg border rounded shadow ripple-effect" data-aos="fade-right" data-aos-duration="500" data-aos-delay="800" type="button" style="width: 300px;font-weight: bold;">loading...</button></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h1 data-aos="fade-right" data-aos-duration="500">loading...</h1>
                            <p data-aos="fade-right" data-aos-duration="650" data-aos-delay="300">round: n</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="correctAnswerModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Congratulations! Your answer is correct.</p>
                </div>
            </div>
        </header>
        <section class="py-5"></section>
    </div>
    <script src="./assets/js/gamepage.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/-Fixed-Navbar-start-with-transparency-background-BS4-.js"></script>
    <script src="assets/js/Button-Ripple-Effect-Animation-Wave-Pulse.js"></script>
</body>

</html>